.header {
  text-align: center;
}

/************** MOBILE STYLINGS TO FOLLOW ********************/

/* list main view stylings */

* {
  font-family: Lato;
}

body {
  background-color: #efe2ba;
}

.main-buttons {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  background-color: #c5cbe3;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.new-bookmark-button {
  padding: 10px 0px;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.ratings-select {
  margin: 10px 0px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}

.ratings-select button {
  font-size: 15px;
}

/* bookmark list stylings */

.bookmark-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  background-color: #4056a1;
  border-radius: 10px;
}

li:last-child {
  margin-bottom: 10px;
}

.bookmark-info {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  margin: 10px 10px 0px 10px;
}

.listing-rating-info {
  display: flex;
  justify-content: space-between;
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  padding: 0px 5px;
}

.rating-total {
  padding: 0px 5px;
}

.bookmark-name {
  margin-left: 20px;
  text-decoration: underline;
}

.view-bookmark-details {
  margin-right: 20px;
  font-size: 15px;
  background-color: #4056a1;
  color: white;
}

/* styles for details addition */

.bookmark-details {
  background-color: #c5cbe3;
  margin: 0px 10px 10px 10px;
  border-radius: 10px;
}

.bookmark-details button {
  font-size: 15px;
  padding: 15px;
}

.bookmark-details-header {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px 10px 0px 10px;
  padding: 5px;
}

.bookmark-details-description {
  margin: 0px 10px 10px 10px;
  padding: 5px;
  text-align: center;
}

/* add bookmark page stylings */

.add-bookmark {
  display: flex;
  flex-direction: column;
  background-color: #c5cbe3;
  border-radius: 10px;
  padding: 10px;
}

.add-bookmark-form {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.add-bookmark-form > * {
  margin-top: 10px;
  padding: 5px;
}

.add-bookmark-form button {
  padding: 10px;
  font-size: 15px;
}

.add-form-buttons {
  display: flex;
  justify-content: space-evenly;
  background-color: #4056a1;
  border-radius: 10px;
  padding: 10px 0px;
}

/* error stylings */

.error-content {
  display: flex;
  justify-content: space-evenly;
  background-color: #f13c20;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  color: white;
}

#cancel-error {
  width: 50px;
}

/***************** DESKTOP STYLINGS TO FOLLOW ******************/

@media all and (min-width: 700px) {
  /* list main view stylings */

  * {
    font-family: Lato;
  }

  body {
    background-color: #efe2ba;
    padding-left: 15%;
    padding-right: 15%;
  }

  .main-buttons {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: #c5cbe3;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .new-bookmark-button {
    padding: 10px 0px;
    font-size: 30px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 25px;
  }

  .ratings-select {
    margin: 10px 0px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
  }

  .ratings-select select {
    font-size: 25px;
    padding: 0px 10px;
  }

  .ratings-select button {
    font-size: 25px;
  }

  /* bookmark list stylings */

  .bookmark-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    background-color: #4056a1;
    border-radius: 10px;
  }

  li:last-child {
    margin-bottom: 10px;
  }

  .bookmark-info {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    margin: 20px 20px 0px 20px;
    min-height: 100px;
    font-size: 25px;
  }

  .listing-rating-info {
    display: flex;
    justify-content: space-between;
    background-color: #d79922;
    color: white;
    border-radius: 5px;
    padding: 0px 5px;
  }

  .rating-total {
    padding: 0px 5px;
  }

  .bookmark-name {
    margin-left: 20px;
    text-decoration: underline;
  }

  .view-bookmark-details {
    margin-right: 20px;
    font-size: 25px;
    background-color: #4056a1;
    color: white;
  }

  /* styles for details addition */

  .bookmark-details {
    background-color: #c5cbe3;
    margin: 0px 20px 10px 20px;
    border-radius: 10px;
    font-size: 25px;
  }

  .bookmark-details button {
    font-size: 25px;
    padding: 15px;
  }

  .bookmark-details-header {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px 10px 0px 10px;
    padding: 15px;
  }

  .bookmark-details-description {
    margin: 0px 10px 10px 10px;
    padding: 15px;
    text-align: center;
  }

  .bookmark-details-description p {
    margin: 30px 0px 50px 0px;
  }

  /* add bookmark page stylings */

  .add-bookmark {
    display: flex;
    flex-direction: column;
    background-color: #c5cbe3;
    border-radius: 10px;
    padding: 10px;
  }

  .add-bookmark-form {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
  }

  .add-bookmark-form > * {
    margin-top: 10px;
    padding: 5px;
    font-size: 25px;
  }

  .add-bookmark-form button {
    padding: 10px;
    font-size: 25px;
  }

  .add-form-buttons {
    display: flex;
    justify-content: space-evenly;
    background-color: #4056a1;
    border-radius: 10px;
    padding: 10px 0px;
  }

  /* error stylings */

  .error-content {
    display: flex;
    justify-content: space-evenly;
    background-color: #f13c20;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 0px;
    text-align: center;
    border-radius: 10px;
    font-size: 25px;
    color: white;
  }

  #cancel-error {
    width: 50px;
  }
}
